<ol class="breadcrumb">
  <li><a href="<%= news_index_url %>">Home</a></li>
  <li><a href="<%= finance_organizations_url %>">投资机构管理</a></li>
  <li class="active">新增</li>
</ol>

<%= render :partial =>"finance_organizations/form" %>