<ol class="breadcrumb">
  <li><a href="<%= news_index_url %>">Home</a></li>
  <li><a href="<%= news_index_url %>">新闻管理</a></li>
  <li class="active">修改</li>
</ol>

<div class='clearfix'>
  <div class="radio-inline">
    <label>数据记录id: <%= @news.id%></label>
</div>
<hr>


<%= render :partial =>"news/form" %>