<ol class="breadcrumb">
  <li><a href="<%= news_index_url %>">Home</a></li>
  <li><a href="<%= news_index_url %>">新闻管理</a></li>
  <li class="active">新增</li>
</ol>

<%= render :partial =>"news/form" %>