<ol class="breadcrumb">
  <li><a href="<%= news_index_url %>">Home</a></li>
  <li><a href="<%= categories_url %>">产品类别管理</a></li>
  <li class="active">新增</li>
</ol>

<%= render :partial =>"categories/form" %>