<ol class="breadcrumb">
  <li><a href="<%= news_index_url %>">Home</a></li>
  <li><a href="<%= companies_url %>">公司管理</a></li>
  <li class="active">新增</li>
</ol>

    <%= render :partial =>"companies/form" %>